body {
  background: url(../img/background.jpg) ;
}
.container {
  margin: auto;
  margin-top: 111px;
  width: 600px;
  background: white;
  /*border: 2px solid black;*/
}
a {
  color: white;
}
#content {
  background-color: rgba(0, 0, 0, 0.5);
}#content h2 {
  text-align: center;
}
#content li{
  margin-left: 57%;;
}
#Sidebar-cn {
  background: #e3e3e3;
  float: left;
  width: 250px;
  border: 5px solid black;
}
#Sidebar-cn2 p{
  padding-left: 5px;
  /*background-color: white;*/
  margin: auto;
}
#subhead-size{
  text-align: center;
  margin-top: 2px;
  font-size: 10px;
  font-weight: bold;
}
#header{
  background: url(../img/header.jpg);
  border: 2px solid black;
  text-align: center;

}
#header p{
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: inherit;
}
#header h1 {
  margin-left: 10px;
  padding-top: 10px;
}
#footer {
  background: black;
  color: white;
  clear: both;
}
 #bg-img {

}
p {
  text-indent: 5px;
}

img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-left: 70px;
}
